#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilos globales y adaptativos */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.logout-button {
  margin-bottom: 20px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.sort-controls {
  margin-bottom: 20px;
}

.sort-controls button {
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.current-order {
  margin-bottom: 20px;
  font-size: 16px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-container input {
  padding: 8px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.playlist-grid {
  display: grid;
  gap: 16px;
  margin-top: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .playlist-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .playlist-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.playlist-card {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.playlist-card h3 {
  font-size: 1rem;
  margin: 8px 0 4px;
  text-align: center;
}

.playlist-card p {
  margin: 0;
  text-align: center;
}
